.submit-button {
  margin-bottom: 10px;
}

.signin-label {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
  display: block;
}

.signin-label span {
  display: block;
}

.signin-form {
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 3px;
}

.signin-form input[type=text],
.signin-form input[type=password] {
  border: 2px solid #fff;
  border-radius: 3px;
  margin-top: 10px !important;
  display: inline-block;
  padding: 3px !important;
  height: 30px !important;
  width: auto !important;
  font-size: 1.9rem !important;
  outline: none !important;
}

.signin-form input[type=text].signin-input:focus,
.signin-form input[type=password].signin-input:focus {
  border: 2px solid #fff;
  box-shadow: 0 2px #fff;
}

.signin-form.signin-form_err input[type=text],
.signin-form.signin-form_err input[type=password] {
  border: 2px solid #c62828;
}

.signin-form.signin-form_err input[type=text]:focus,
.signin-form.signin-form_err input[type=password]:focus {
  border: 2px solid #c62828;
  box-shadow: 0 2px #c62828;
}

.submit-button_icon {
  font-size: 1.7rem;
  display: inline-block;
  margin-top: -6px;
  margin-left: 8px;
}
