.signin-card {
  width: 500px;
  margin: 150px auto;
  color: #fff;
  text-align: center;
  padding: 15px;
}

.signin-label {
  color: #fff;
  font-size: 1.2rem;
  margin-top: 20px;
  display: block;
}

.signin-form {
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 3px;
}

.signin-input {
  border: 2px solid #fff !important;
  border-radius: 3px;
  margin-top: 10px !important;
  display: inline-block;
  padding: 3px !important;
  height: 30px !important;
  width: auto !important;
  font-size: 1.9rem !important;
  outline: none !important;
}

.signin-input:focus {
  box-shadow: 0 2px #fff !important;
}
